@import "../../variables/colors/colors.scss";

.header {
    >.container {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
    }
    &__phone {
        padding: 18px 0;
        border-bottom: 1px solid $textDark;
        .container {
            text-align: right;
        }
    }

    &__middle {
        width: 100%;
        max-width: 441px;
        .menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            &__item {
                color: #77706A;
                cursor: pointer;
            }
        }
    }

    &__burger {
        svg {
            cursor: pointer;
        }
    }
}